<h2>Credit Management System</h2>
<div>
  <a href="/users"><button class"btn btn-primary">Debtors:</button></a>
  <a href="/users/new"><button class"btn btn-primary">Add a Debtor</button></a>
</div>
  
