<strong><h1><%= @loans.name() %></h1></strong><br >
<p>the sum of:</p>
  <strong><h1><%= @loans.amount() %></h1></strong><br >
<p>due in</p>
  <strong><h1><%= @loans.month() %></h1></strong>
<p>months</p>

  <p><a href="/users/<%= @user.id()%>" >Return to user</a></p>
  <a href="/">Home</a>
