<h1>create a new user account </h1>

  <p>list your account here:</p>

  <form action="/users" method="post">
    <label for="name">User's name:</label>
    <input id="name" name="name" type="text">
    <button type="submit">create account</button>
  </form>
