<h3>Here are all the details to &nbsp<%= @user.name()%>&nbsp account:</h3>




  <a href="/users/<%= @user.id()%>/request/new"><button class="btn btn-primary">Borrow</button></a>
  <a href="/users/<%= @user.id()%>/offer/new"><button class="btn btn-primary">Lend</button></a>
  <p><a href="/my-account" >View all Loans</a></p>
  <p><a href="/users" >Return to user's account</a></p>
  <a href="/">Return to Home Page</a>
